@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: aliceblue;
}

.container {
    width: 750px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: #00305f;


}

h1 {
    font-size: 85px;
    background-color: aliceblue;
    border-radius: 20px;
    color: #00305f;
}

#valor {
    font-size: 130px;
    font-weight: bold;
}

.btn {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

#incrementar {
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}


#decrementar {
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

@media screen and (max-width: 673px) {

    .container {
        width: 520px;
        height: 520px;
    }
    
    h1 {
      font-size: 65px;
    }
  }

@media screen and (max-width: 505px) {

    .container {
        height: 480px;
    }
    
    h1 {
      font-size: 55px;
    }
    .btn {
        font-size: 20px;
        padding: 15px;
    }
  }

@media screen and (max-width: 450px) {

    .container {
        height: 460px;
    }
    
    h1 {
      font-size: 45px;
    }

    .btn {
        font-size: 20px;
        padding: 15px;
    }
  }

  @media screen and (max-width: 428px) {

    .container {
        height: 550px;
    }
    
    h1 {
      font-size: 45px;
    }

    .btn {
        font-size: 20px;
        padding: 15px;
    }
  }

  @media screen and (max-width: 376px) {

    .container {
        height: 620px;
        width: 360px;
    }
    
    h1 {
      font-size: 50px;
    }

    .btn {
        font-size: 25px;
        padding: 12px;
    }
  }